.btn_grad {
  background-image: linear-gradient(to right, black, black 51%, black 100%);
}
.btn_grad {
  margin: 10px;
  padding: 15px 45px;
  text-align: center;
  text-transform: uppercase;
  transition: 0.5s;
  background-size: 200% auto;
  color: white;
  box-shadow: 0 0 20px #eee;
  border-radius: 10px;
  display: block;
}

.btn_grad:hover {
  background-position: right center; /* change the direction of the change here */
  color: #fff;
  text-decoration: none;
}
.errorMessage {
  text-align: center !important;
  font-size: 16px;
  font-weight: 500;
  color: red;
}
.passwordSetMessage {
  text-align: center !important;
  font-size: 16px;
  font-weight: 500;
  color: rgb(138 218 17);
  margin-top: 5px;
  margin-bottom: 5px;
}
.buttons {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  box-sizing: border-box;
  padding-top: 27px;
}

@media (min-width: 1025px) and (max-width: 1280px) {
  .txtf {
    width: 407px !important;
  }
}

/* Media Query for Large screens */
@media (min-width: 1281px) {
  .txtf {
    width: 407px !important;
  }
}
@media (min-width: 768px) and (max-width: 1024px) {
  .txtf {
    width: 570px !important;
  }
}
